@import "tailwindcss";

:root {
   --background: oklch(0.145 0 0);
   --foreground: oklch(0.985 0 0);
   --sidebar: oklch(0.205 0 0);
   --primary: oklch(0.75 0.15 200);
   --primary-foreground: oklch(0.12 0.01 260);
   --accent: oklch(0.269 0 0);
   --ring: oklch(0.439 0 0);
   --radius: 0.75rem;

   --secondary: oklch(0.22 0.015 260);
   --secondary-foreground: oklch(0.9 0.01 260);
   --muted: oklch(0.22 0.015 260);
   --muted-foreground: oklch(0.65 0.02 260);
}

@theme inline {
   --font-sans: var(--font-sans);
   --font-serif: var(--font-serif);
   --font-mono: var(--font-mono);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-sidebar: var(--sidebar);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-accent: var(--accent);
   --color-ring: var(--ring);
   --radius-sm: calc(var(--radius) - 4px);
   --radius-md: calc(var(--radius) - 2px);
   --radius-lg: var(--radius);
   --radius-xl: calc(var(--radius) + 4px);

   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
}

/* body {
   background: var(--color-background);
   color: var(--color-foreground);
} */

/* @layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
   }
} */
